<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Flask Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">      
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('market_page')}}">Market</a>
                </li>
            </ul>

            {% if current_user.is_authenticated %}
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color: lawngreen; font-weight: bold;">
                        <i class="fas fa-coins"></i>
                        {{ current_user.prettier_budget }}
                    </a>
                <li class="nav-item">
                    <a class="nav-link">Welcome {{current_user.username}}</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login_page')}}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login_page')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('register_page')}}">Register</a>
                </li>

            </ul>
            {% endif %}
        </div>
    </div>
</nav>